body {
  /*font-family: times, serif;*/
  color: #000000;
}

.header-panel {
  background-color: #8B0000;
}

.pages h1 {
  color: #E40019;
}

.nav-tabs {
  background-color:grey;
}

.pages .nav-tabs > li.active > a {
  background-color: #8B0000 !important;
}

